<h1>詳細ページ</h1>
<div>
  <strong>User Last Name: </strong><%= @form.user_last_name %>
</div>
<div>
  <strong>User First Name: </strong><%= @form.user_first_name %>
</div>
<div>
  <strong>User Last Reading: </strong><%= @form.user_last_reading %>
</div>
<div>
  <strong>User First Reading: </strong><%= @form.user_first_reading %>
</div>
<div>
  <strong>Login ID: </strong><%= @form.login_id %>
</div>
<div>
  <strong>Login PW: </strong><%= @form.login_pw %>
</div>
